.head{
    width: 100%;
    height: 72px;
    background-color: white;
    display: flex;
    /* justify-content: center; */
    position: fixed;
    top: 0px;
}
body{
    margin: 0px;
    padding-top: 72px;
}
.div1{
    width: 70%;
    height: 72px;
    display: flex;
    align-content: center;
    padding-left: 0px;
   
}
.div1-2{
width:30% ;
height: 72px;
background-color: rgb(255, 255, 255);
display: flex;
padding-right: 10px;
padding: 0px;
}
#img1{
    height: 40px;
    width: 205px;
   padding: 15px;
}
#ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
    align-items: center;
    padding: 0px;
        font-size: 10px;
}
#ul1{
    display: flex;
    gap: 30px;
    list-style-type: none;
    align-items: center;
    margin-right: auto;
    font-size: 20px;
    color: rgb(117, 116, 116);
    display: flex;
}
#ul1 li {
    display: flex;
    align-items: center;
    gap: 6px;
}

#hl{
    height: 20px;
    
}
.s{
    font-size: 20px;
}
.sec1{
    width: 100%;
    height: 41px;
    background-color: blue;
    display: flex;
   
   
}
.div2{
    width: 100%;
    height: 41px;
    background-color: rgb(255, 255, 255);
  display: flex;
     align-items: center;
     padding-left: 53px;
     position: fixed;
}
#la{
    width: 32px;
}
#ul1 li {
    display: flex;
    align-items: center;
    gap: 6px;
}
.sec2{
    height: 475px;
    width: 100%;
    background-image:url(./image/esp32-2-new.jpg);
    background-size: 100%;
    display: flex;
    align-items: center;
}
.sdiv1{
    width: 500px;
    height: 200px;
    font-size: 25px;
    margin-left: 70px;
}
.sec3{
     width: 100%;
     height: auto;
         
     
}
.sdiv2{
 width: 100%;
     height: 40px;
     background-color: rgb(0, 0, 0);
     display: flex;
     align-items: center;
      position: sticky;
      top: 113px;

}
#ul2{
    display: flex;
    gap: 45px;
    list-style-type: none;
    align-items: center;
    font-size: 20px;
    color: rgb(255, 254, 254);
    margin: 0px;
}
.sec4{
    width: 100%;
    height: 690px;
    display: flex;
    justify-content: center;

}
.sdiv3{
    width: 80%;
    height: 680px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 75px;
}
.h{
    font-weight: bold;
    font-size: 26px;
}
.d{
    font-size: 18px;
}
#img2{
    width: 80px;
    height: 80px;
}
.sec5{
    width: 100%;
    height: 600px;
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
}
#b{
   margin-top: 70px;
    width: 60px;
    height: 5px;
    background-color: #1290d1;
}
.p1{
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.sdiv4{
    width: 100%;
    height: 350px;
    background-image: url(./image/products-resources.png);
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sdiv41{
    width: 80%;
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    column-gap: 10px;
   
}
.sdiv41m{
     background-color: rgb(255, 255, 255);
     height: 175px;
     display: flex;
}
#icon{
    width: 172px;
    height: 175px;
    display: block;
  margin-left: 0;
}
.rg{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.sd4sc{
    height: 150px;
 display: block;
  overflow-y: scroll;


}
.rgp{
    font-size: 18px;
    text-decoration: underline;
}
